<div class="container-fluid mt-3">
  <div class="row">
    <div class="head1">
      <div class="row mx-5">
        <div class="col-md-3">
          <h1>ele.cart</h1>
        </div>
        <div class="col-md-7 d-flex">
          <input
            class="form-control"
            type="search"
            placeholder="Search for products"
            aria-label="Search"
            style="
              height: 35px;
              width: 500px;
              border-radius: 0%;
              border: 1px solid black;
            "
          />
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="
                background-color: white;
                color: black;
                height: 35px;
                border-radius: 0%;
                border-left: none;
              "
            >
              &nbsp; All Categories
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <button
            class="btn btn-success"
            type="submit"
            style="
              background-color: rgb(36, 113, 195);
              width: 38px;
              height: 35px;
              color: white;
              border-radius: 0%;
              border: none;
            "
          >
            Q
          </button>
        </div>
        <div class="col-md-2">
          <div class="hello">
          <div class="icons d-flex justify-content-between">
            <div class="d-flex">
              <a class="h3 bi bi-person-circle"></a>
              <div style="font-size: 11px">
                <p><small>Sign In</small></p>
                <p>Account</p>
              </div>
            </div>
            <a class="h3 bi bi-heart"></a>
            <a class="h3 bi bi-cart3"></a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="menu">
      <div class="align1">
        <a href="">Home</a>
        <a href="">Today's Deals</a>
        <a href="">Trending Products</a>
        <a href="">Blog</a>
        <a href="">Special Offers</a>
      </div>
    </div>
    <div class="col-md-3 ms-4">
      <nav>
        <ul>
          <div style="background-color: red">
            <li class="drop">
              <button style="background-color: red; border: none">
                <a href="#">Browse Categories</a>
              </button>
            </li>
          </div>
          <li class="drop">
            <a href="#">Cell Phones<span>&rsaquo;</span></a>
            <ul>
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="#">Computer & Accesseries<span>&rsaquo;</span></a>
            <ul>
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="#">Television & Video<span>&rsaquo;</span></a>
            <ul>
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="#">Smartwatches<span>&rsaquo;</span></a>
            <ul>
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="#">Camera & Headphones<span>&rsaquo;</span></a>
            <ul>
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="#">Video Games<span>&rsaquo;</span></a>
            <ul>
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="#">Sports & Outdoors<span>&rsaquo;</span></a>
            <ul>
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div
          class="card mb-3"
          style="
            max-width: 600px;
            background-color: rgba(244, 244, 244, 0.99);
            border: none;
            height: 295px;
          "
        >
          <div class="sd1">
            <div class="row g-0 m-5">
              <div class="col-md-5">
                <div class="card-body">
                  <h6 style="color: red">SUMMER SALE UPTO 70%</h6>
                  <h3 class="mt-2">Polaroid i-Type Instant Camera</h3>
                  <p class="mt-2">
                   <small>Save and shoot straight from the box with three packs of iconic Polaroid.</small>
                  </p>
                  <button class="btn btn-info p-2 mt-2">SHOP NOW</button>
                </div>
              </div>
              <div class="col-md-5 ms-5">
                <img
                  src="assets/pol5.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ms-4">
      <div class="card1">
        <div class="row">
          <div
            class="card mb-2"
            style="background-color: rgba(140, 177, 223, 0.979)"
          >
            <div class="row g-0">
              <div class="col-md-7">
                <div class="card-body m-3">
                  <h5 class="card-title">JBL Music Speaker</h5>
                  <p class="card-text"><small>Weekend Discount</small></p>
                  <div class="d-flex">
                    <h4 class="card-text" style="color: red">$270</h4>
                    &nbsp;&nbsp;
                    <h6
                      class="card-text mt-1"
                      style="text-decoration: line-through"
                    >
                      $350
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <img
                  src="assets/jb1.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card2">
        <div class="row">
          <div
            class="card mb-3"
            style="background-color: rgba(236, 233, 233, 0.979)"
          >
            <div class="row g-0">
              <div
                class="col-md-7"
                style="background-color: rgba(236, 233, 233, 0.979)"
              >
                <div class="card-body m-3">
                  <h5 class="card-title">Apple AirPods Pro</h5>
                  <p class="card-text"><small>Weekend Discount</small></p>
                  <div class="d-flex">
                    <h4 class="card-text" style="color: red">$270</h4>
                    &nbsp;&nbsp;
                    <h6
                      class="card-text mt-1"
                      style="text-decoration: line-through"
                    >
                      $350
                    </h6>
                  </div>
                </div>
              </div>

              <div class="col-md-5">
                <img
                  src="assets/ap6.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 50px">
    <div class="row d-flex">
      <div class="col-md-3 d-flex">
        <img
          src="assets/del11.jpg"
          alt=""
          style="width: 70px; border-radius: 35px"
        />
        <div class="mt-2">
          <h5>Free Delivery</h5>
          <p><small>Free shipping on all order</small></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <img
          src="assets/sup2.png"
          alt=""
          style="width: 60px; border-radius: 25px; height: 65px;"
        />
        <div class="mt-2">
          <h5>Online Support 24/7</h5>
          <p><small>Support online 24 hours a day</small></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <img
          src="assets/back1.jpg"
          alt=""
          style="width: 70px; border-radius: 35px; height: 68px;"
        />
        <div class="mt-2">
          <h5>Money Returns</h5>
          <p><small>Back guarantee under 7 days</small></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <img
          src="assets/dis1.png"
          alt=""
          style="width: 60px; border-radius: 32px; height: 65px;"
        />
        <div class="mt-2">
          <h5>Member Discount</h5>
          <p><small>On every order over $120.00</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 ms-5">
    <div class="col-md-7">
      <div class="sd2">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6" style="background-color: rgba(244, 244, 244, 0.99);">
              <img
                src="assets/bx3.jpg"
                class="img-fluid rounded-start mt-3"
                alt="..."
              />
            </div>
            <div
              class="col-md-6"
              style="background-color: rgba(244, 244, 244, 0.99)"
            >
              <div class="card-body m-3">
                <span
                  class="card-text"
                  style="color: red; background-color: pink"
                  >Deal of the day</span
                >
                <h4 class="card-title mt-2">
                  Xbox Elite Wireless Controller Series 2
                </h4>
                <div class="card-text mt-3" style="display: flex">
                  <h3 class="card-text" style="color: red">
                    $139.99 &nbsp;&nbsp;
                  </h3>
                  <h5 class="card-text mt-1"><s> $139.99</s></h5>
                </div>
                <p class="card-text mb-3 mt-3">
                  The Xbox Elite Wireless Controller Series 2 features over 30
                  ways to play loke a pro, including adjustable-tension
                  thumbsticks.
                </p>
                <h6 class="card-text">
                  <div style="display: flex; justify-content: space-between">
                    <h6>Sold: 15</h6>
                    <h6>Available: 85</h6>
                  </div>
                </h6>
                <h6 class="card-text">
                  <div
                    class="progress"
                    role="progressbar"
                    aria-label="Basic example"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <div class="progress-bar" style="width: 15%"></div>
                  </div>
                </h6>
                <div class="card-text mt-3">
                  <p>Offer ends in</p>
                  <div class="count">
                    <div>
                      <h3><mark>10</mark></h3>
                      <p><small>Hours</small></p>
                    </div>
                    <div>
                      <h3>:&nbsp; <mark>20</mark> &nbsp;</h3>
                      <p>&nbsp; &nbsp;<small>Minutes</small></p>
                    </div>
                    <div>
                      <h3>:&nbsp; <mark>54</mark></h3>
                      <p>&nbsp; &nbsp;<small>Seconds</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ms-4">
      <div class="card text-black" style="height: 195px">
        <img
          src="assets/pr3.jpg"
          class="card-img"
          alt="..."
          style="width: 438px; height: 195px"
        />
        <div class="card-img-overlay">
          <h5 class="card-title m-3">
            Mi Smart Compact <br />
            Projector
          </h5>
          <p class="card-text m-3"><small>Weekend Discount</small></p>
          <h6 class="card-text text-danger m-3">$499.99</h6>
        </div>
      </div>
      <div class="card mt-3 text-black" style="height: 195px">
        <img
          src="assets/co6.jpg"
          class="card-img"
          alt="..."
          style="width: 438px; height: 193px"
        />
        <div class="card-img-overlay">
          <h5 class="card-title m-3">Mi Air Purifier 3H</h5>
          <p class="card-text m-3"><small>Flash Sale</small></p>
          <h5 class="card-text m-3" style="color: red">$269.99</h5>
        </div>
      </div>
    </div>
  </div>
</div>
